@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  outline: none;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  font-family: "Roboto", sans-serif;
  scrollbar-color: transparent;
  user-select: none;
  font-size: 62.5%;
  line-height: 1.6rem;
}
a {
  color: inherit;
  &:visited {
    color: inherit;
  }
}
